# https://mirrors.edge.kernel.org/pub/software/scm/git/docs/gitignore.html#_pattern_format



*.DS_Store


src/3DR/wiki/octave/output/
# src/3DR/wiki/octave/output/

src/cam/web/distributionServer/filesystem/**
src/cam/web/distributionServer/images/**


# roku output directory
**/roku/**/out/**


# nodejs modules
**/node_modules/**




src/cam/web/cttd/services/**






