# https://mirrors.edge.kernel.org/pub/software/scm/git/docs/gitignore.html#_pattern_format



*.DS_Store


src/3DR/wiki/octave/output/
# src/3DR/wiki/octave/output/

src/cam/web/distributionServer/**



**/roku/**/out/**















